<h1 class="title">Applicants for <%= @pet.name %></h1>
<% if @applications == [] %>
  <h1><%= @pet.name %> currently has no applications to adopt them!</h1>
<% else %>
    <% @applications.each do |application| %>
    <h1><%= link_to application.name, "/applications/#{application.id}"%></h1>
    <% end %>
<% end %>
